@import "colors/base16-woodland.css";

* {
    /* `otf-font-awesome` is required to be installed for icons */
    /* font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif; */
    font-family: LektonNerdFontMono, SourceCodePro, Arial, sans-serif;
    font-size: 16px;
    transition: none;
    padding: 0;
    margin: 0;
    color: @base05;
}

window#waybar {
    background-color: @base01;
}

window#waybar.hidden {
    opacity: 0.2;
}

/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #3F3F3F;
}

window#waybar.chromium {
    background-color: red;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    /* box-shadow: inset 0 -3px transparent; */
    /* Avoid rounded borders under each button name */
    border: none;
    border-radius: 0;
    padding: 4px 12px;
    margin: 0;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: none;
    font-weight: normal;
    text-shadow: none;
}

#workspaces button {
    background-color: transparent;
    color: @base00;
}

#workspaces .focused, #workspaces .focused:hover, #workspaces .focused label {
    background-color: @base0A;
    color: @base00;
    font-weight: normal;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#mpd {
  color: @base05;
  padding: 4px 12px;
}

#window,
#workspaces {
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
}

#clock {
}

@keyframes blink {
    to {
        background-color: @base05;
        color: @base00;
    }
}

label:focus {
    background-color: @base00;
}

#cpu {
}

#memory {
}

#disk {
}

#disk.critical,
#network.disconnected,
#workspaces button.urgent,
#temperature.critical {
    background-color: @base08;
    color: @base01;
}

#backlight {
}

#network {
    color: @base0A;
}

#pulseaudio {
}

#pulseaudio.muted {
    background-color: @base03;
    color: @base01;
}

#custom-media {
}

#custom-media.custom-spotify {
    color: @base0B;
}

#custom-media.custom-vlc {
    color: @base08;
}

#temperature {
}

#tray {
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: @base08;
}

#idle_inhibitor {
}

#idle_inhibitor.activated {
    background-color: @base0A;
    color: @base00;
}

#mpd {
    background-color: #66cc99;
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: @base02;
    color: @base0A;
    padding: 0px 8px;
    min-width: 24px;
}

#keyboard-state {
    background: #97e1ad;
    color: @base00;
}

#keyboard-state > label {
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

