!Xft.dpi: 150
!Xft.rgba:      rgba
!Xft.antialias: 1
!Xft.hinting:   1
!Xft.autohint:  0
!Xft.hintstyle: hintslight
!Xft.lcdfilter: lcddefault
!Xcursor.theme: Qogir-dark
!URxvt.scrollBar: false
!URxvt.font: xft:SourceCodePro:size=12
!URxvt.internalBorder: 0
!URxvt.depth: 24
!URxvt.background: black
