snippet log "console.log(log)"
console.log('${1:log}')
endsnippet

snippet logv "console.log(variable)"
console.log(${1:variable})
endsnippet

snippet logt "console.log(tag,variable)"
console.log('${1:tag}', ${2:'log'})
endsnippet
